<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/anketdb</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>   
        
        <mapping class="com.cihan.anket.models.Sektor"/>
        <mapping class="com.cihan.anket.models.Meslek"/>
        <mapping class="com.cihan.anket.models.IL"/>
        <mapping class="com.cihan.anket.models.Ilce"/>
        <mapping class="com.cihan.anket.models.Cevap"/> 
        <mapping class="com.cihan.anket.models.CevapDetay"/> 
        <mapping class="com.cihan.anket.models.Anket"/>
        <mapping class="com.cihan.anket.models.AnketDetay"/>
        <mapping class="com.cihan.anket.models.AnketSonuc"/>
        <mapping class="com.cihan.anket.models.Katilimci"/>
        
    </session-factory>
</hibernate-configuration>